.screen-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  color: var(--title-white);
  background-color:var(--main-green);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  margin-top: 25px;
  padding: 20px 20px;
  padding-bottom: 30px;
}

.screen-header__title {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.screen-header__icons span {
  font-size: var(--font-small);
  cursor: pointer;
}

.fa-search{
  margin-right: 10px;
}

.screen-header__title i:active {
  transform: scale(0.9);
}