#friends-display-link {
  display: block;
  text-align: center;
  padding: 15px 0px;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--title-white);
  background-color:var(--main-light-green);
  cursor: pointer;
}

#friends-display-link i {
  color: var(--title-white);
  opacity: 0.5;
  padding: 0px 3px;
}

.favorite-contact{
  margin: 10px 0px;
  padding: 10px 10px;
  color: var(--title-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.favorite-contact__title{
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

.favorite-contact__container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-contact__container-column {
  width: 100%;
  margin: 0px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.favorite-contact__container-column:hover{
  transform: scale(1.1);
}

.favorite-contact__container-column img{
  margin:0;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.favorite-contact__container__subtitle{
  font-size: var(  --font-tiny);
  font-weight: var(--weight-regular);
  margin-top: 5px;
}

.user-component.friends {
 padding-bottom: 60px;
}

.user-component.friends .user-component__column{
  padding:0px 15px;
}

.user-component.friends .user-component__avatar {
  margin-right: 0px;
  transform: scale(0.7);
}
.user-component.friends .user-component__title {
  font-size: var(--font-micro);
}